@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&family=Work+Sans:ital,wght@0,300;0,700;1,300&display=swap");

:root {
  --color-primary: #8b572a;
  --color-black: #313538;
  --color-grey: #828282;
  --color-footer: #f5f5f5;
  --color-white: #fff;
}

/* Make scrollbar disappear */
:root::-webkit-scrollbar {
  /* Solution 1 */

  width: 0px;

  /* Solution 2 */

  /* display: none; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

html,
body {
  height: 100%;
}

html {
  font-family: "Noto Sans TC", sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

img {
  vertical-align: bottom;
}
